


.guilds-Marquee{
    position: relative;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
}
.guilds-Marquee-container>img{
    padding: 5px;
    border-radius: 100px;
    width: 64px;
}

.guilds-Marquee-container{
    color: #fffcfc;
    font-size: 20px;
    background: #302d2de7;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    box-shadow: #1c1c1cd6 0px 3px 0px;
    transition: 0.3s;
    cursor: pointer;
}
.guilds-Marquee-container {
    margin-right: 20px; /* 右侧空隙 */
}

/* 如果需要在每个元素之间同时添加水平和垂直空隙，您也可以使用 margin 属性的简写方式 */
.guilds-Marquee-container {
    margin: 0 20px; /* 水平和垂直空隙均为20px */
}

.guilds-Marquee-container:hover{
    box-shadow: #4f4f4fd9 0px 0px 9px 3px;
    transition: 0.3s;
    cursor: pointer;
}

@media(max-width: 984px){
    .r-guilds-Marquee{
        width: 100%;
    }
}